@model StoreApp.MVCWebUI.Models.ProductDetails
@{
    Layout = null;
}

<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <div>
            Siparişiniz Alınmıştır.Teşekkürler...
           


        <meta http-equiv="refresh" content="2;url=/Home/Index">

            @*<meta http-equiv="refresh" content="3;url=/Home/Index">*@

        </div>
    </body>
    </html>

