
@{
    ViewBag.Title = "Logout";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <div>
        <p>Çıkış Yaptınız.</p>
       
        <meta http-equiv="refresh" content="2;url=/Home/Index">
    </div>
</body>
</html>
